body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bz3-header-menu {
  margin: 3px auto;
  width: 1010px;
}

#bz-logo {
  float: left;
  height: 100%;
  background: #fff;
  z-index: 999;
  width: 182px;
  margin-top: 10px;
}

#content {
  clear: both;  
  padding-top: 30px;
  width: 1010px;
  margin: 0 auto;
}

#content > * {
  float: left;
  clear: both;
}

#squawk-box {
  width: 520px;
}

#squawk-box > * {
  float: left;
  margin-right: 5px;
}

#squawk-box .rc-slider {
  width: 55%;
  margin-right: 9px;
  margin-top: 9px;
}

.audio-control {
  margin-right: 7px;
  margin-bottom: 8px;
  float: left;
}

.controls {
  margin-left: 20px;
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

.share-button {
  width: 45px;
  height: 30px;
  background: #dfe6e9;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: .3s linear;
}

.share-button span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2d3436;
  color: #f1f1f1;
  text-align: center;
  line-height: 30px;
  z-index: 999;
  transition: .6s linear;
  border-radius: 40px; 
}