.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.container > div {
    margin-top: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.name {
    font-family: monospace;
    white-space: pre;
    font-size: 1.1em;
}

.details {
    font-family: monospace;
    white-space: pre;
    font-size: 1.1em;
}

.audioMeter {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 100%;
}

.light {
    transform: scale(0.4);
    background-color: lightgreen;
    border-radius: 100%;
}

.medium {
    transform: scale(0.7);
    background-color: green;
    border-radius: 100%;
}

.high {
    transform: scale(1);
    background-color: darkgreen;
    border-radius: 100%;
}
